{
    "env": {
        "commonjs": true,
        "es2021": true,
        "node": true
    },
    "extends": ["airbnb-base", "prettier"],
    "overrides": [
    ],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
        "max-len": "off",
        "no-console": "off",
        "no-underscore-dangle": "off",
        "arrow-body-style": "off",
        "no-unused-vars": [
          "error",
          { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
        ]
    }
}
