.club-coordinators__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  padding: 2rem;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.club-coordinators__boxes div img {
  width: 21rem;
  height: 21rem;
  border-radius: 50%;
  padding:.5rem;
  border-left: 3px solid #4285F4;
  border-right: 3px solid #DB4437;
  border-top: 3px solid #F4B400;
  border-bottom: 3px solid #0F9D58;

}

.club-coordinators__boxes {
  display: flex;
  padding: 4rem;
  justify-content: space-evenly;
}



.club-coordinators__box p {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  text-align: center;
}

.club-coordinators__box div {
  margin-top: 3rem;
}

@media screen and (max-width:270px){
  .club-coordinators__boxes{
    flex-direction: column;
    align-items: center;
    
  }
  .club-coordinators__box div {
    margin:3rem 0;
  }
  .club-coordinators__box p{
    font-size: 2.5rem;
  }
  .club-coordinators__boxes div img {
    width:25rem;
    height:25rem;
  }
}