/* background image */

.events-section {
  background-repeat: no-repeat;
  background-image: url("../assets/events_section_bg_image/ellipse.svg");
  background-position:right;
}

/* Heading */

h1{
  text-align: center;
  margin:1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/* Nav bar */

.nav-link {
  color: rgb(4, 3, 3);
  font-size: 1.3rem;
  cursor: pointer;
  margin: 1em;
  margin-left: 2em;
}
.nav-link:hover {
  border-bottom: 2px solid rgb(237, 165, 93);
  padding-bottom: 0.5rem;
}
.nav-link:active {
  color: rgb(95, 0, 159);
  border-bottom: 3px solid rgb(237, 165, 93);
}

/* Event Cards */

.all-card-container {
  display: flex;
  padding: 1%;
  overflow: auto;
}
.each-card-container {
  margin: 1.5em;
  text-align: center;
}
.card {
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 5%;
}
.card-img-top {
  border-radius: 100%;
  padding: 10%;
}
