body{
    position: absolute;
width: 1440px;
height: 600px;
background-image: url(assets\header\background.png);
background-repeat: no-repeat;
background-size: cover;
}
.header{
    position: absolute;
width: 1319px;
height: 80px;
left: 80px;
top: 28px;

background: #FFFFFF;
border-radius: 90px;
}
.Activities{
    position: absolute;
width: 151px;
height: 32px;
left: 712px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #666666;


}
.Insites{
    position: absolute;
    width: 125px;
    height: 32px;
    left: 878px;
    top: 25px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    
    line-height: 36px;
    
    color: #666666;
    
}
.Team{
    position: absolute;
width: 89px;
height: 32px;
left: 1007px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #666666;

}
.Event{
    position: absolute;
width: 114px;
height: 32px;
left: 1128px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #666666;

}
.Club{
    position: absolute;
width: 638px;
height: 52px;
left: 401px;
top: 170px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #4E4039;

}
.IET{
    position: absolute;
width: 622px;
height: 33px;
left: 409px;
top: 223px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 27px;
line-height: 33px;
/* identical to box height */

text-align: center;

color: #000000;

}

.main{
    position: absolute;
width: 669px;
height: 216px;
left: 386px;
top: 443px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #A08F86;

}
