
#our_activities_main{
    position: relative;
    height: 120rem;
    width: 120rem;
    
  
}
#box1_container{
    width:100rem;
    align-self: flex-end;
    margin-left: 22%;
}
#box3_container{
    
    width:125rem;
    height: 100rem;
    align-self: flex-end;
    
}


h1{
   
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 8rem;
        line-height: 8rem;
        
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
    h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 5rem;
        line-height: 5rem;
        
        font-feature-settings: 'pnum' on, 'lnum' on;
        margin-bottom: 2rem;
       
    }
    .content {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 3rem;
        font-feature-settings: 'pnum' on, 'lnum' on;
       
     }
    .box {
        padding: 4rem;
        margin: 4rem;
        border-width: 2rem;
        width: 65rem;
        height: 35rem; 
        
        background: #FFFFFF;
        border-radius: 6rem;
        
    }
    #box1{
        float:right;
       align-self: flex-end;
        box-shadow: inset 0px 4px 24px rgba(219, 68, 55, 0.25);
        
    }
    #box2{
        float:left;
        align-self: flex-end;
        box-shadow: inset  0px 4px 24px rgba(84, 168, 127, 0.33);
        
    }
    #box3{
         float:right;
        align-self: flex-end;
        box-shadow: inset  0px 4px 24px rgba(66, 133, 244, 0.34);
        margin-left: 50%;
    }
    #logo{
         float:right;
         margin-bottom: 10rem;
         
         
    }
    #logo1 {
        float:right;
        padding-top: 20rem; 
        width: 4rem;
        height: 4rem;
        align-self: flex-end;
        
    
        }
    #logo2 {
        padding-right: 25rem;
        float:right;
        padding-top: 10rem;
        width: 44px;
        height: 46px;
        align-self: flex-end; 
    }
